.wrapper {
	text-align: center;
	position: relative;
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -76.55px;
	@include translate(-50%, -50%);

	p {
		&.fill {
			font-size: 20px;
			font-weight: 500;
			margin-top: 20px;
		}
	}
	
	h2 {
		padding-top: 0;
		text-transform: uppercase;
		font-weight: 600;
		font-family: $theme-font;
		font-size: 6vh;

		em {
			position: relative;
			display: inline-block;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			text-transform: inherit;
			letter-spacing: inherit;
			line-height: 1em;
			padding: 0 10px;
			&:before {
				transition: transform 1.2s cubic-bezier(.15,.75,.4,1), opacity 0.25s ease;
				content: "";
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transform-origin: left bottom;
				transform-origin: left bottom;
				background: linear-gradient(90deg, #f9eef0, rgba(255,255,255,0.01));
				transform: scaleX(1);
				height: 28%;
				top: auto;
				bottom: 0;
			}
		}
	}

	.container {
		margin-top: 0;
	}

	.btn {
		outline: none;
		box-shadow: none;
		border: 1px solid #263238;
		border-radius: 0;
		border-color: #263238;
		background-color: #fff;
		color: #263238;
		font-weight: 500;
		padding: 8px 40px;
		margin: 20px 5px 0 0;
		@include transition(0.2s);

		&:focus {
			outline: none;
			box-shadow: none;
			border-color: #263238;
			background-color: #263238;
			color: #fff;
		}
		
		&:hover {
			border-color: #263238;
			background-color: #263238;
			color: #fff;
		}

		&:active:focus,
		&:active {
			border-color: #263238;
			background-color: #263238;
			color: #fff;
			outline: none;
		}
	}
	form {
		text-align: left;
		background: #fff;
		padding: 50px 100px;
		border: 0.5px solid #263238;
		@include transition(0.5s);
		label {
			font-weight: 500;
		}
		input[type="text"],
		input[type="password"] {
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
			border-radius: 0;
			outline: none;
			box-shadow: none;
			padding-left: 0;
			color: #000;
			font-weight: 400;
			@include transition(0.2s);

			&:focus {
				outline: none;
				box-shadow: none;
				border-color: #263238;
			}
		}
		
		&.active {
			box-shadow: 15px 15px 0.5px #fff, 15px 15px 1px 0.5px#000;
			
			@media(max-width: 600px) {
				box-shadow: none;
			}
		}
		p {
			a {
				font-weight: 600;
				color: #263238;

				&:hover {
					color: #000;
				}
			}
		}
	}
}

.help-block {
	font-weight: 500;
}

//Responsive
@media(max-width: 768px) {
	.wrapper form {
		padding: 30px;
	}

	.wrapper {
		h2 {
			font-size: 4vh;
		}
	}
}

@media(max-width: 600px) {
	.wrapper {
		margin: 114px 0 70px 0;
		position: initial;
		transform: initial;
		padding: 0 15px;
		p {
			&.fill {
				font-size: 14px;
			}
		}
	}

	footer{
		&.footer {
			position: initial;
		}
	}

	body {
		&.welcome {
			footer{
				&.footer {
					position: fixed;
				}
			}

			.wrapper {
				margin-top: -76.55px;
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}
	}
}
//End Responsive