/***********************************************
/* START FOOTER
***********************************************/
.footer {
	background: #fff;
	width: 100%;
    clear: both;
    padding: 45px 0;
    position: relative;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
	bottom: 0;
	z-index: -1;
	border-top: 1px solid rgba($color: #263238, $alpha: 0.2);

	.footer__social {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		a {
			&:after {
				content: none;
			}

			&:hover {
				color: $hover;
				i {
					&:after {
						border-color: $hover;
					}
				}
			}

			&.copyright {
				font-size: 1.4rem;
                font-weight: 700;
                font-family: $theme-font;
                color: $dark;
			}
		}
		i {
			font-size: 1.4rem;
			position: relative;
			font-size: 16px;
			height: 50px;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:after {
				position: absolute;
				-webkit-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1);
				transition: all .45s cubic-bezier(0.25, 1, 0.33, 1);
				pointer-events: none;
				display: block;
				content: '';
				opacity: 0.2;
				border-radius: 50%;
				border: 2px solid #333;
				height: 46px;
				width: 46px;
			}
        }
        
        .social {
            margin-bottom: 20px;
        }
	}
}
/***********************************************
/* END FOOTER
***********************************************/